<div class="col s4 m4">
    <div class="card small horizontal">
        <div class="card-stacked">
            <div class="card-content">
            <p>Создание виртуальной машины на удалённом сервере.</p>
            <p style="color: red">Ввиду ограничений на каждый регион доступно только 4 ядра в общем!!!</p>
            </div>
            <div class="card-action">
            <a href="{% url 'virtual-machine-create' %}">Запросить новую ВМ</a>
            </div>
        </div>
    </div>
</div>
